@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

    .welcomePage {
        display: flex;
        padding: 10px;
        min-width: 100%;
    }

    .leftWelcome {
        min-width: 80%;
        margin-right: auto;
        text-align: center;
        background:#ffffff;
        border-radius: 10px;
		margin-bottom: 50px;
    }

    .innerLeft {
        background-image: url(images/Corner-piece.svg);
        background-repeat: no-repeat;
        background-size: 60% auto;
        opacity: 1;
        border-radius: 10px;
        -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
		padding-bottom: 50px;
    }

    .rightWelcome {
        width: 20%;
        padding: 10px;
        margin-left: 30px;
    }

    .leftWelcome svg {
        width: 630px;
        height: auto;
        margin-top: 75px;
    }

    .leftWelcome span {
        color: #170f4a;
        font-family: "Montserrat", Sans-serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: -1px;
    }

    .leftWelcome p {
        color: #170f4a;
        font-size: 14px;
		margin-bottom: 25px;
    }

    #guruFront {
        padding: 70px 15px 15px 15px;
        max-width:700px;
        height:auto;
    }


     
    .guru-ghost {
        opacity: 1;
    }

    #higuru_token_apply:enabled {
        background-color: transparent;
        background-image: linear-gradient(150deg, #5887da 40%, #7f11c3 100%);
        padding: 10px 25px;
        width: 300px;
        font-size: 16px;
		font-weight: 600;
        border: none;
		margin-left: -5px;
		color: #ffffff;
        text-transform: uppercase;
        cursor:pointer;
    }

    .tokenBox {
        min-width: 80%;
        padding: 3px 125px 25px 125px;
        margin: 0 auto;
        display:flex;
        align-content: center;
        justify-content: center;
     }

    .tokenBox input[type=text] {
        width: 500px;
        font-size: 16px;
        background-color: #ffffff;
        border-color: #cccccc;
        border-radius: 3px 0px 0px 3px;
        color: #4d5c7f;
        text-align: left;
		padding: 10px;
    }

    .higuru-button-text {
        color: #FFFFFF;
        font-family: "Montserrat", Sans-serif;
        font-size: 14px;
        font-weight: 700;
        border-radius: 0px 3px 3px 0px;
        padding: 0px;
    }

    .higuru-token-label {
		display:flex;
        font-size: 15px;
        font-weight: 500;
        color: #170f4a;
		flex: start;
    }

    .guruTokenline {
		margin: 0 auto;
		display:inline-flex;
		width: 100%;
	}

    .higuru-infoText span {
        font-size: 14px;
		min-width: 100%;
    }

	.higuru-infoText {
		margin-bottom: 50px;
	}

	.higuru-videoBox {
        display: flex;
        position: relative;
        justify-content: center;
	}

	.higuru-video-box-heading p {
		font-size: 18px;
		font-weight: 500;
		padding: 15px;
	}

    .guruTokenon span {
        padding-left: 5px;
        font-weight:800;
    }

    .guruTokenoff span {
        padding-left: 5px;
        font-weight:800;
    }
    
	.higuru-button {
        font-family: "Montserrat", Sans-serif;
        font-size: 16px;
        font-weight: 600;
        border-radius: 0px 15px 15px 15px;
        padding: 18px 40px 18px 40px;
        background-color: transparent;
        background-image: linear-gradient(150deg, #5887da 40%, #7f11c3 100%);
        color: #ffffff;
		-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
        border:none;
        cursor:pointer;
    }

    input[type="submit"]:disabled {
       
        background-color: #cccccc !important; 
        padding: 10px 25px;
        width: 300px;
        font-size: 16px;
		font-weight: 600;
        border: none;
		margin-left: -5px;
        text-transform: uppercase;
        border: 1px solid #cccccc;
        color: #999999;
        cursor: not-allowed;
        pointer-events: none;
    }

	.higuru-footer {
		padding:30px 15px;
	}
	
	.higuru-footer p {
		font-size: 18px;
		font-weight: 500;
	}

	.higuru-socialIcons {
		display: inline-flex;
	}

	.higuru-socialIcons img {
		width: 30px;
		height: 30px;
		padding: 5px;
	}

	.higuru-support-message {
		height: 45px;
	}

    .higuru-support label {
        display: inline-flex;
        position: relative;
        justify-content:center;
        font-size: 15px;
    }

    .higuru-form-label {
        padding: 5px 0px;
    }

  /* Tablet and Phone */

	@media (max-width: 768px) {
        .higuru-tutorial iframe {
            width:360; 
            height: auto;
        }
        .guruTokenline {
            margin: 0 auto;
            display:block;
            width: 100%;
        }

        .tokenBox {
            min-width: 80%;
            padding: 3px 25px 25px 25px;
            margin-top: 0px;
         }

        .tokenBox input[type=text] {
            min-width: 80%;
            font-size: 16px;
            background-color: #ffffff;
            border-color: #cccccc;
            border-radius: 3px 0px 0px 3px;
            color: #4d5c7f;
            text-align: left;
            padding: 10px;
        }

        .higuru-token-label {
            display:flex;
            font-size: 15px;
            font-weight: 500;
            color: #170f4a;
            margin: 0 auto;
        }

        .leftWelcome {
            min-width: 100%;
     }
    
        .rightWelcome {
            min-width: 50%;
    } 
    .welcomePage {
        display: block;
    }

     }
    
    /* Settings page */

    input.higuru-switch[type=checkbox]:checked:before {
        color: #0274be;
      }
      input.higuru-switch {
        position: relative;
        -webkit-appearance: none;
        outline: none;
        width: 50px;
        height: 30px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 50px;
        box-shadow: inset -20px 0 0 0 #fff;
        margin-bottom: 10px;
      }
      
      input.higuru-switch:after {
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        background: transparent;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
      }
       
      input.higuru-switch:checked {
        box-shadow: inset 20px 0 0 0 #0274be;
        border-color: #0274be;
      }

      input.higuru-switch:checked:after {
        left: 20px;
        box-shadow: -2px 4px 3px rgba(0,0,0,0.05);
      }
      
      .guruswitchlabel {
		position: relative;
		display: flex;
		align-self: center;
      }

      #gurusubmit {
          visibility: hidden;
      }

   